.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70dvh;
}

.home-button {
    font-family: Barkentina, Royal, sans-serif;
}