.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1 {
    margin: 20px;
    background-color: #301d30;
    border-radius: 10px;
    width: 240px;
    height: 420px;
}

.card2 {
    margin: 20px;
    background-color: #301d30;
    border-radius: 10px;
    width: 240px;
    height: 420px;
}

.card-deck {
    transition-property: transform, box-shadow;
    transition-duration: 1s;
    border-radius: 10px;
}

.card-deck:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgba(228, 211, 134, 1);
    transform: translateY(-20px) translateX(10px);
    
}

.card-image {
    border-radius: 10px;
}