@font-face {
  font-family: "Royal";
  src: local("RoyalSignage-Rg"),
    url("./assets/fonts/RoyalSignage-Rg.otf") format("truetype");
}

@font-face {
  font-family: "Barkentina";
  src: local("Barkentina1"),
    url("./assets/fonts/Barkentina1.otf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  font-family: Royal, Barkentina, sans-serif;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background-color: #bbafaf;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}
