body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background-color: #bbafaf;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}
